.header {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  content: "";
  background: url(./../../../assets/icons/logo.svg);
  width: 80px;
  height: 76px;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__text {
  color: rgb(217, 215, 215);
}

.header__icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.vk {
  content: "";
  background: url(./../../../assets/icons/vk.svg);
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-position: center;
}

.youtube {
  content: "";
  background: url(./../../../assets/icons/youtube.svg);
  width: 30px;
  height: 22px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgba(199, 199, 199, 0.653);
  margin-top: 150px;
}

.main__city {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.main__title {
  font-size: 150px;
  font-weight: 700;
  line-height: 120%; /* 256.8px */
  text-transform: uppercase;
}

.main__subtext {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.main__btn{
  text-align: center;
  margin-top: 50px;
}

